akshare==1.18.63
beautifulsoup4==4.14.3
ipykernel==7.2.0
jupytext==1.19.3
lxml==6.1.1
matplotlib==3.10.9
nbconvert==7.17.1
nbformat==5.10.4
numpy==2.4.6
openpyxl==3.1.5
pandas==3.0.3
playwright==1.60.0
requests==2.34.2
scipy==1.17.1
seaborn==0.13.2
selenium==4.44.0
tabulate==0.10.0
tqdm==4.67.3
